/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(32, 31, 31);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-item {
  margin-right: 20px;
  position: relative;
}

.navbar-button {
  display: inline-block;
  padding: 10px 20px;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.navbar-button:hover {
  color: #808080;
}

/* Navbar Submenu */
.navbar-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 1000;
}

.navbar-item:hover .navbar-submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navbar-submenu-item {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navbar-item:hover .navbar-submenu-item {
  opacity: 1;
  transform: translateY(0);
}

/* Animaciones */
.navbar-button {
  position: relative;
  overflow: hidden;
}

.navbar-button::before {
  content: '';
  position: absolute;
  background-color:#00FFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
  z-index: -1;
}

.navbar-button:hover::before {
  width: 200%;
  height: 200%;
}

.navbar-menu {
  position: relative;
  overflow: hidden;
}

.navbar-menu::before {
  content: '';
  position: absolute;
  background-color: #5b0dc0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
  z-index: -1;
}

.navbar-menu:hover::before {
  width: 200%;
  height: 200%;
}
